<div class="form-design">
    <h1 class="titulo-system">Edição do usuário: (<%= @usuario.nome %>)</h1>
    <hr class="hr-system-80por">
    <div class="width-80por">
        <%= render('form') %>
    </div>
</div>